* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --cor-primaria: #9EAC71;
    --cor-secundaria: #545b3c;
    --cor-tres: #ece9e5;
    --BRANCO: white;
    --preto: black;
    --cor-dois:#eac1a3;
  }
  .nav-topo{
    background-color: var(--cor-secundaria);
    display: flex;
    align-items: center;
    justify-content: end;
  height: 30px;
  }
  .nav-topo li{
    color: var(--BRANCO);
  }
  .nav-topo a {
    color: var(--BRANCO);
    text-decoration: none;
    padding: 1rem;
   
  }
  
  header {
    background-color: var(--cor-primaria);
    color: var(--BRANCO);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 22px;
  }
  
  .caixa-busca {
    display: flex;
    position: relative;
    align-items: center;
  }
  
  #busca {
  
    height: 30px;
    width: 400px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  
  
  }
  
  .caixa-busca ::placeholder {
    padding-left: 1rem;
    color: var(--cor-tres);
    
  }
  
  #btn-busca {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 2%;
    cursor: pointer;
  
  }
  .links-header :hover{
    color: var(--cor-tres);
   
  }
  .links-header a {
  
    font-size: 25px;
    text-decoration: none;
    margin: 2rem;
    color: var(--BRANCO);
  
  }
  
  .nav-links{
    background-color: var(--cor-tres);
    display: flex;
    justify-content: center;
    height: 30px;
  }
  .nav-links a{
   
    color: var(--cor-secundaria);
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    margin-right: 7rem;
   
  }




#banner {
    width: 100%;
    background-image: url("../projeto2/imgs/Design_sem_nome-removebg-preview.png");
   
    background-size: cover;
    height: 800px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    

}

.column{
  
  align-items: center;
  font-weight: bold;
  padding: px;
  margin: 300px 200px;
  background-color: var(--cor-tres);
  border-radius: 20px;
  width: 500px;
  height: 200px;
  opacity: 60%;
  border:4px solid var(--cor-dois);
 

}
.text-card{
 color: var(--BRANCO);

 padding: 80px;
 font-size: 40px;
 font-family: Georgia, 'Times New Roman', Times, serif;
}